.sb-first-bg-img{	
	background-image: url(../img/about/hero-img.png);
	background-repeat: no-repeat;
    background-size: cover;
}
.ab-first-bg{
	background: #5D008F;
	opacity: 0.8;
}
.ab-first-height{
	height: 480px;
}
.ab-first-text{
	padding-top: 15%;
}
.ab-first-text h1{
	font-weight: bold;
	line-height: 39px;
	color: #FFFFFF;
}
.ab-first-box{
	text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 15%);
    border-radius: 50px;
    padding: 50px;
}
.ab-first-box h2{
	margin-top: 0px;
	font-weight: bold;
	font-size: 34px;
	line-height: 41px;
	color: #5D008F;
}
.ab-first-box p{
	font-size: 26px;
	line-height: 31px;
	color: rgba(23, 27, 47, 0.6);
	margin-bottom: 0px;
}
.ab-f-pad{
	position: relative;
	top: -100px;
}
.ab-s-content h2{
	font-weight: bold;
	font-size: 34px;
	line-height: 39px;
	color: #171B2F;
}
.ab-s-content p{
	font-size: 24px;
	line-height: 30px;
	color: #171B2F;
	opacity: 60%;
}
.sec-t h4{
	font-weight: bold;
	font-size: 64px;
	line-height: 74px;
	text-align: right;
	color: #171B2F;
	margin-right: 25px;
}
.sec-t .box{
	border: 2px solid #C7C8DD;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 30px;
}
.sec-t .box h3{
	font-weight: bold;
	font-size: 26px;
	line-height: 30px;
	color: #2A262C;
}
.sec-t .box p{
	font-weight: normal;
    font-size: 18px;
    color: rgba(23, 27, 47, 0.6);
    margin-bottom: 0px;
}
.points h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #2A262C;
    padding-left: 40px;
    padding-top: 12px;
}
.points h4::before {
    background-image: url(../img/payment-gateway/tick.svg);
    width: 50px;
    height: 50px;
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    left: 15px;
}
.abt-cont h3{
	font-weight: bold;
	font-size: 26px;
	line-height: 31px;
	color: #5D008F;
}
.abt-cont h4{
	font-weight: bold;
	font-size: 34px;
	line-height: 41px;
	color: #171B2F;
}
.abt-cont p{
	font-size: 26px;
	line-height: 31px;
	color: rgba(23, 27, 47, 0.6);
	padding-top: 10px;
}
.frame-float{
	float: right;
}
.sec-add h4{
	font-weight: bold;
	font-size: 26px;
	line-height: 30px;
	color: #2A262C;
}
.sec-add p{
	font-size: 18px;
	line-height: 24px;
	color: #171B2F;
	opacity: 60%;
}
.sec-add .h4-pad{
	padding-top: 35px;
}
.team-bg{
	background: linear-gradient(180deg, #EDF2F2 14.41%, rgba(237, 242, 242, 0) 84.22%);
}
.d-flex{
	display: flex;
}
.team-graphic1{
	text-align: right;
	margin-right: 75px;
}
.team-box{
	background: #FFFFFF;
	border: 8px solid rgba(93, 0, 143, 0.05);
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
	border-radius: 25px;	
	padding: 20px;
	padding-bottom: 50px;
}
.team-img img{
	width: 100px;
	border: 3px solid #5D008F;
	border-radius: 50%;
}
.team-content{
	padding-left: 30px;
}
.team-content h4{
	font-weight: bold;
	font-size: 28px;
	line-height: 34px;
	color: #171B2F;
}
.team-content p{
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #5D008F;
}
.team-social a{
	float: right;
}
.color1{
	color: #5D008F!important;
}

@media (max-width: 574px) {	
	.it-mar{
		margin-top: 30px;
	}
	.ab-first-box{
		padding: 15px;
	}
	.ab-first-height {
	    height: 400px;
	}
	.sec-t h4{
		text-align: center;
		margin-right: 0px;
	}
	.sec-t .box{
		width: unset;
		height: unset;
		text-align: center;
		margin-top: 30px;
	}
	.sec-add h4{
		padding-top: 30px;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.hero {
	    text-align: center;
	}
	.it-mar{
		margin-top: 30px;
	}
	.wc{
		text-align: -webkit-center;
	}
	.sec-t h4{
		text-align: center;
		margin-right: 0px;
	}
	.sec-t .box{
		margin-top: 30px;
	}
	.sec-add h4{
		padding-top: 30px;
	}
}