.main-bg{
    background-image: url(../img/payroll/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.c-h1{
	color: #ffff;
}
.content span{
	color: #1ad4d4;
}
.content p{
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: rgba(255, 255, 255, 0.8);
}
.km{
	margin-bottom: 30px;
}
.km span{
	background: rgba(0, 24, 176, 0.1);
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #0018B0;
	padding: 10px 30px;
} 
.km h2{
	font-weight: 900;
	font-size: 38px;
	line-height: 46px;
	color: #000000;
	padding-top: 10px;
}
.km p{
	font-size: 18px;
	line-height: 22px;
	color: rgba(23, 27, 47, 0.6);
	padding-top: 20px;
	/*padding-bottom: 40px;*/
}
.km a{
	background: #0018B0;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25), 0px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	padding: 15px 40px;
}
.km a i{
	margin-left: 15px;
}
.km-box{
	background: #FFFFFF;
	box-shadow: 0px 28px 35px #EBEBEB, 0px 5px 25px #ECEFFF;
	border-bottom: 10px solid #1AD4D4;
	border-radius: 0px 0px 10px 10px;
	margin-top: 30px;
}
.km-box-content{
	padding: 30px;
}
.km-box-content h3{
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}
.km-box-content p{
	font-size: 14px;
	line-height: 17px;
	color: rgba(23, 27, 47, 0.6);
	margin-bottom: 0px;
}
.bg-black{
	background: #2A262C;
}
.s3c {
    display: flex;
}
.s3c img {
	position: relative;
    top: -33px;
    left: 10px;
}
.s3c h2 {
    font-weight: 900;
	font-size: 46px;
	line-height: 55px;
	color: #FFFFFF;
}
.s3-content {
    padding: 20px;
    text-align: center;
}
.s3-content h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.s3-content p {
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.6);
}
.s4-tab-main .nav{
	display: grid;
}
.s4-tab-main .nav .active{

}
.s4-tab-main .nav-tabs{
	border-bottom: unset;
}
.s4-tab-main .nav-tabs > li.active > a, .s4-tab-main .nav-tabs > li.active > a:focus, .s4-tab-main .nav-tabs > li.active > a:hover{
	background: #F5E9C6!important;
	box-shadow: 0px 2px 9px rgba(146, 146, 146, 0.31), 0px 10px 10px rgba(209, 209, 209, 0.36)!important;
	border-radius: 10px!important;
	border: unset;	
	color: #531E00;
}
.s4-tab-main .nav-tabs > li > a{
	margin-top: 30px;
	border: unset;
	margin-right: unset;
	padding: 20px 30px;
}
.s4-tab-main .nav-tabs > li > a:hover {
    border-color: unset;
    color: #531E00;
}
.s4-tab-main .nav > li > a:focus, .s4-tab-main .nav > li > a:hover {
    text-decoration: none;
    background-color: unset;
    color: #531E00;
}
.s4-tab-main .nav-tabs > li > a > h3{
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	margin-top: 0px;
}
.s4-tab-main .nav-tabs > li > a > p{
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 0px;
}
.s4-tab-main .nav > li > a > h3:hover{
	color: #531E00;
}
.km-cp{
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: rgba(23, 27, 47, 0.6);
}
.tick h4 {
    padding-left: 60px;
    padding-top: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #171B2F;
}
.tick h4:before {
    background-image: url(../img/payroll/tick.svg);
    width: 50px;
    height: 50px;
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    left: 40px;
}
.bg-blue{
	background: #0018B0;
}
.cu-main{
	padding-top: 50px;
}
.cu-main-text{
	padding-top: 10%;
}
.cu-main-text h2{
	font-weight: 900;
	font-size: 46px;
	line-height: 55px;
	color: #FFFFFF;
	padding-bottom: 40px;
}
.cu-main-text a{
	background: #1AD4D4;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25), 0px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	padding: 15px 40px;
}
.cu-main-text a i {
    margin-left: 15px;
}
/*  Faq Css  */
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
   /* font-family: "Glyphicons Halflings";*/
    font-style: normal;
    content: "\2212";
    color: #fff;
    background: #5D008F;
    float: right;
    padding: 0px 12px;
    border-radius: 50%;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\002b";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}
.panel{
    border: unset;
}
.panel-default > .panel-heading{
    padding: 25px 0px 25px 0px;
    color: #333;
    background-color: unset;
    border-color: unset;
}
.panel-group .panel-heading , .panel-heading{
    border-bottom: unset;
    border: 0;
}
.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: unset;
}
.faq-title{
    color: #5D008F;
    font-weight: 800;
    padding-bottom: 50px;
    font-size: 48px;
}
.panel-default > .panel-heading .panel-title a{
    font-weight: bold;
    font-size: 22px!important;
    line-height: 34px;
    color: #2A262C;
}
.accordion-section .panel-default .panel-body p{
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: rgba(23, 27, 47, 0.6);
}
.accordion-section .panel-default .panel-body{
    padding: 5px 30px 20px 0px;
}
.accordion-section .panel-default .panel-body ul li{
	font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: rgba(23, 27, 47, 0.6);
}



.bgfb{
	background: #FBFBFB;
}
.pad-sec-tb {
    padding: 50px 0px;
}
.bg1 {
    background: #FAF1FF;
}
.bf-main{
	background: #FFFFFF;
	box-shadow: 0px 10px 30px #EDEFFF;
	border-radius: 20px;
	padding: 30px;
	margin-top: 30px;
}
.bf-main .bft{
	display: flex;
}
.bf-main .bft h3{
	margin-left: 15px;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	color: rgba(23, 27, 47, 0.8);
	margin-top: 12px;
}
.bf-main .bft .bft-img{
	background: antiquewhite;
    height: 70px;
    width: 70px;
}
.bf-main .bfc p{
	font-size: 15px;
	line-height: 17px;
	color: rgba(23, 27, 47, 0.6);
	margin-bottom: 0px;
	margin-top: 20px;
}

.why-use {
    background: #FFFFFF;
    border: 3px solid transparent;
    border-radius: 10px;
    padding: 30px;
    margin-top: 30px;
}
.why-use h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #2A262C;
}
.why-use p {
    font-size: 18px;
    line-height: 21px;
    color: #A6A6A6;
}
.why-use:hover {
    border: 3px solid #A2C6F5;
}
.cpt{
	padding-top: 50px;
}

.arrow-bg{
	background-image: url(../img/cash-management/arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
}
.cm{
	background: #FFFFFF;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
	display: flex;
	margin-top: 60px;
	width: 90%;
}
.cm img{
	position: relative;
	height: 85px;
    top: -30px;
    left: -25px;
}
.cm h3{
	font-size: 18px;
	line-height: 22px;
	color: rgba(23, 27, 47, 0.6);
	margin-bottom: 0px;
}


.cmgs{
	padding: 25px;
}
.cmgs .cmgsi{
	display: flex;
}
.cmgs .cmgsi span {
    margin-top: 28px;
    margin-left: 20px;
    margin-right: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    width: 60px;
}
.cmgs .cmgsi h3{
	font-size: 14px;
	line-height: 17px;
	color: rgba(255, 255, 255, 0.6);
}
.cmgs .cmgsc{
	margin-top: 15px;
}
.cmgs .cmgsc p{
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	margin-bottom: 0px;
}

.cms{
	border: 2px solid #FF5497;
	border-radius: 15px;
	margin-top: 60px;
}
.cms img{
	position: relative;
    top: -30px;
    left: 30px;
}
.cms p{
	font-size: 18px;
    line-height: 22px;
    color: #2A262C;
    padding: 0px 30px 30px 30px;
    margin-bottom: 0px;
}
.bg-light{
	background: #FBFBFB;
}
.points h4 {
    font-size: 18px;
	line-height: 22px;
	color: #2A262C;
    padding-left: 40px;
    padding-top: 12px;
}
.points h4::before {
    background-image: url(../img/payment-gateway/tick.svg);
    width: 50px;
    height: 50px;
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    left: 15px;
}
.cm11{
	padding-top: 30px;
}
.cm11 img{
	height: 40px;
}
.cm11 p{
	font-size: 18px;
	line-height: 22px;
	color: #2A262C;
	margin-top: 15px;
}
.s3c1{
	display: inline-flex;
}
.s3c1 img {
    position: relative;
    top: -40px;
    left: 50px;
}
.s3c1 h2 {
    font-weight: 900;
    font-size: 46px;
    line-height: 55px;
    color: #FFFFFF;
    margin-top: 0px;
}
.aac{
	margin-top: 30px;
}
.aac h3{
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
}
.aac p{
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	opacity: 0.8;
}
.aac a{
	font-weight: 800;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	background: #2B77F3;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
	border-radius: 5px;
	padding: 10px 20px;
}
.aac a:hover{
	background: #4ADF93;
}
.tpc{
	margin-top: 30px;
	background: #FFFFFF;
	box-shadow: 0px 30px 60px rgba(187, 187, 187, 0.2);
	border-radius: 30px;
	padding: 30px;
}
.tp-img{
	text-align: -webkit-center;
	margin-top: 50px;
}
.tp-img1{
    text-align: -webkit-center;
    margin-top: 90px;
}
.tpc-img{
	display: inline-flex;
}
.tpc-img h3{
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	color: rgba(23, 27, 47, 0.8);
	margin-top: 15px;
	margin-left: 25px;
}
.tpc p{
	font-size: 14px;
	line-height: 17px;
	color: rgba(23, 27, 47, 0.6);
	margin-top: 20px;
	margin-bottom: 0px;
}
.s3c11 img {
    position: relative;
    top: -43px;
    left: 11px;
}
.aacc img{
	height : 50px;
	width: 50px;
}
.tpc-img-cc{
	height: 50px;
	width: 50px;
}
.gf{
	background: #FFFFFF;
	box-shadow: 0px 30px 60px rgba(187, 187, 187, 0.2);
	border-radius: 20px;
	margin-top: 30px;
	padding: 30px;
	display: inline-flex;
}
.gfi{

}
.gfc{
	margin-left: 30px;
}
.gfc h3{
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	color: rgba(23, 27, 47, 0.8);
	margin-top: 0px;
}
.gfc p{
	font-size: 14px;
	line-height: 17px;
	color: rgba(23, 27, 47, 0.6);
	margin-bottom: 0px;
}
.db{
	display: block!important;
}
.hero-cc h1{
	font-weight: bold;
	font-size: 48px;
	line-height: 58px;
	color: #2A262C;
}
.hero-cc span{
	color: #5d008f;
}
.hero-cc p{
	font-size: 18px;
	line-height: 22px;
	color: rgba(23, 27, 47, 0.6);
}
.gf .gfi1 img{
	height: 50px;
}
.gf .gfc1 h3{
	font-weight: unset;
}
.cmgs .cmgsc1{
    margin-top: 15px;
}
.cmgs .cmgsc1 h3{
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.cmgs .cmgsc1 p{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.8;
}
.tpc-img11 img{
	height: 50px;
	width: 50px;
}
.gsci{
	width: 41px;
	height: 47px;
}


/*  Media Queries  */
@media (max-width: 574px){
	.m-tc{
		text-align: center;
	}
	.s3c {
	    display: block;
	}
	.cu-main {
		padding-top: 0px;
	    padding-bottom: 55px;
	}
	.cu-main-text {
	    padding-top: 5%;
	}
	.cpt{
		padding-top: 0px;
	}
	.cm{
		width: 100%;
	}
	.aac {
	    text-align: center;
	}
	.tp-img , .tp-img1 {
		margin-top: 0px;
	}
	.cc-bg{
		background-image: url(../img/payroll/bg.svg);
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.hero-cc h1{
		color: #fff;
	}
	.hero-cc span{
		color: #1ad4d4;
	}
	.hero-cc p{
		color: rgba(255, 255, 255, 0.8);
	}
}
@media (min-width: 768px) and (max-width: 1024px){	
	.hero-cc{
		text-align: center;
	}
}