.main-bg {
    background-image: url(../img/career/main-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.ph-bg {
    background: #5D008F;
    opacity: 0.8;
}
.head-p {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
}
.fw900{
    font-weight: 900;
}
.bg1{
    background: #f5f5f5;
}
.bg1-height{
    height: 400px;
}
.sc{
    padding-top: 75px;
}
.wcc{
    position: relative;
    top: 40px;
}
.sc h2{
    font-weight: 900;
    font-size: 34px;
    line-height: 41px;
    color: #2A262C;
}
.sc p{
    font-size: 20px;
    line-height: 24px;
    color: #2A262C;
}
.why{

}
.why h2{
    font-weight: 900;
    font-size: 34px;
    line-height: 41px;
    color: #2A262C;
}
.why p{
    font-size: 20px;
    line-height: 24px;
    color: #2A262C;
    padding-top: 15px;
}
.bg-lite{
    background: #F5F5F5;
}
.apply-now h2{
    font-weight: 900;
    font-size: 34px;
    line-height: 41px;
    color: #000000;
    margin-top: 0px;
}
.apply-now p{
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 0px;
}
.apply-now .btn{
    margin-top: 20px;
}
.apply-now a{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #D63674;
    border: 3px solid #D63674;
    padding: 10px 30px;
    border-radius: 30px;
}
.sub-bg{
    background-image: url(../img/career/sub-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sub-pad{
    padding: 70px 0px;
}
.sub{
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
}
.sub h2{
    font-weight: 900;
    font-size: 34px;
    line-height: 41px;
    color: #FFFFFF;
    margin-top: 0px;
}
.sub p{
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 0px;
}
.sub-feature{
    background: #FFFFFF;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    padding: 30px;
    margin-bottom: 30px;
}
.sub-feature h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #2A262C;
    margin-top: 10px;
    margin-left: 10px;
}
.sub-feature p{
    font-size: 15px;
    line-height: 18px;
    color: rgba(23, 27, 47, 0.6);
    margin-top: 5px;
    margin-bottom: 0px;
}
.sub-feature .sub-feature-i{
    display: flex;
}
.work h2{
    font-weight: 800;
    font-size: 37px;
    line-height: 44px;
    text-align: right;
    color: #000000;
}
.workc{
  border-left: 3px solid #C4C4C4;
  height: 135px;
  margin-left: 30px;
}
.workcc{
    margin-left: 50px;
}
.workcc h3{
    color: #000000;
    padding-bottom: 5px;
    padding-top: 30px;
}
.works{
    display: flex;
}
/*.square {
  height: 35px;
  width: 35px;
  background-color: #2A63B9;
  margin-left: 15px;
}*/
.bg-black{
    background: #000;
}
.sj h2{
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0px;
}
.sj .dropdown button{
    width: -webkit-fill-available;
    background: unset;
    border: 2px solid #fff;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;  
}
.sj .dropdown i {
    display: inline-block;
    margin-right: 25px;
    float: right;
}
.go-btn{
    margin-top: 12px;
}
.go-btn a{
    background: #D63674;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 30px;
}
.sj .dropdown .dropdown-menu{
    width: 100%;
}
.sj .dropdown .dropdown-menu > li > a{
    color: #000;
}
.sj .dropdown .dropdown-menu > li > a:focus, .sj .dropdown .dropdown-menu > li > a:hover{
    text-decoration: none;
    background-color: #2a63b9;
    color: #fff;
}
.hiring-title h2{
    font-weight: 900;
    font-size: 34px;
    line-height: 41px;
    color: #000000;
    text-align: center;
}
.hiring-title span{
    background: #D0FFFC;
}
.hiring-title p{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}
.hiring-box{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.16);
    border-radius: 15px;
    margin-top: 30px;
}
.hiring-box h2{
    padding: 100px 0px;
}
.hiring-help p{
    font-size: 26px;
    line-height: 50px;
    color: #000000;
    padding-top: 30px; 
}
.hiring-help a{
    color: #40B4FF;
    font-weight: bold;
}

/*  Slider Css  */
.owl-nav {
    position: absolute;
    height: 0;
    top: 50%;
    left: 10px;
    right: 10px;
}
.owl-nav [class^="owl"] {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff !important;
    position: absolute;
    top: -12px;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
}
.owl-nav [class^="owl"]:after {
    content: "";
    display: block;
    border: 8px solid transparent;
    position: absolute;
    top: calc(50% - 8px);
    transition: opacity 0.2s ease 0.2s;
}
.owl-nav [class^="owl"].disabled {
    transform: scale(0);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.owl-nav [class^="owl"].disabled:after {
    opacity: 0;
}
.owl-nav > :first-child {
    left: 0;
}
.owl-nav > :first-child:after {
    left: calc(50% - 15px);
    border-right-color: #2A262C;
}
.owl-nav > :last-child {
    right: 0;
}
.owl-nav > :last-child:after {
    right: calc(50% - 15px);
    border-left-color: #2A262C;
}
.owl-dots {
    text-align: center;
    line-height: 0;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}
.owl-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
}
.owl-dot + .owl-dot {
    margin-left: 12px;
}
.owl-dot:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #2A262C;
    transform: scale(0.25);
    transition: transform 0.3s ease;
}
.owl-dot.active:after {
    transition-delay: 0.2s;
    transform: scale(1);
}

.dot-indicator {
    width: 24px;
    height: 2px;
    background: #2A262C;
    position: absolute;
    top: calc(50% - 1px);
    transform: scaleX(0);
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.dot-indicator.next {
    left: 50%;
    -webkit-animation-name: dot-indicator-next;
    animation-name: dot-indicator-next;
}
.dot-indicator.prev {
    right: 50%;
    -webkit-animation-name: dot-indicator-prev;
    animation-name: dot-indicator-prev;
}


@media (max-width: 574px) {
    .apply-now{
        text-align: center;
    }
    .apply-now .btn {
        margin-top: 30px;
    }
    .sj{
        text-align: center;
    }
    .workc{
        border: unset;
    }
    .dropdown, .dropup{
        margin-top: 30px;
    }
    .go-btn {
        margin-top: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .bg1-height {
         height: unset; 
    }
    .apply-now{
        text-align: center;
    }
    .apply-now .btn {
        margin-top: 30px;
    }
    .sub-feature{
        height: 165px;
    }
    .sj h2{
        text-align: center;
        padding-bottom: 30px;
    }
}