.page-header.single-header {
    height: 599px;
    padding: 0;
}
.page-header {
    padding: 233px 0 170px;
    position: relative;
    overflow: hidden;
    margin: unset;
    border: unset;
}
.oh {
    overflow: hidden;
}
.bg_img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.page-header.single-header::before {
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(0deg, #2c1ecd 0, #8f4ec1 100%);
    background: -webkit-linear-gradient(0deg, #2c1ecd 0, #8f4ec1 100%);
    background: -ms-linear-gradient(0deg, #2c1ecd 0, #8f4ec1 100%);
    opacity: 0.7;
}
.page-header.single-header::before {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    content: "";
}
.bottom-shape {
    bottom: -2px;
}
.bottom-shape,
.top-shape {
    position: absolute;
    z-index: 1;
    width: 102%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.bottom-shape img,
.top-shape img {
    width: 100%;
}

.contact-section {
    margin-top: -535px;
    position: relative;
    z-index: 9;
}

.contact-wrapper {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 11px 19.2px 0.8px rgba(66, 58, 232, 0.1);
    padding: 65px 40px 0;
    margin-bottom: 80px;
}
.contact-wrapper h4{
    font-size: 28px;
    line-height: 38px;
    margin-top: -14px;
    color: #3b368c;
    font-weight: 700;
}
.contact-form .form-group {
    margin-bottom: 23px;
    display: grid;
}
.contact-form .form-group label {
    font-size: 18px;
    font-weight: 600;
    color: #3b368c;
}
.contact-form .form-group input {
    border: 1px solid rgba(59, 54, 140, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #f6f6fa;
    padding: 0 30px;
    height: 60px;
}
.contact-form .form-group input[type="submit"] {
    background: -moz-linear-gradient(-65deg, #9e55bf 0, #1614d0 100%);
    background: -ms-linear-gradient(-65deg, #9e55bf 0, #1614d0 100%);
    background: -webkit-linear-gradient(-65deg, #9e55bf 0, #1614d0 100%);
    width: auto;
    padding: 0 50px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    margin: 0 auto;
    display: block;
    border: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(118, 93, 234, 0.502);
}
.contact-form .form-group button {
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: -moz-linear-gradient(0deg, #e2906e 0, #e83a99 100%);
    background: -webkit-linear-gradient(0deg, #e2906e 0, #e83a99 100%);
    background: -ms-linear-gradient(0deg, #e2906e 0, #e83a99 100%);
    box-shadow: 2.419px 9.703px 12.48px 0.52px rgba(232, 58, 153, 0.5);
    width: auto;
    padding: 0 45px;
    color: #fff;
    margin-top: 20px;
}

.contact-form .form-group textarea {
    border: 1px solid rgba(59, 54, 140, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #f6f6fa;
    padding: 30px;
    height: 140px;
}
.contact-form .form-group .form-check {
    align-items: center;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 15px;
}
.contact-form .form-group .form-check input {
    width: 22px;
    height: 22px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: 0 0;
}
.contact-form .form-group .form-check label {
    margin: 0;
    padding-left: 10px;
    width: calc(100% - 22px);
    font-size: 16px;
    font-weight: 400;
    color: #6f6c9f;
}
.contact-form .form-group:last-child {
    -webkit-transform: translateY(23px);
    -ms-transform: translateY(23px);
    transform: translateY(23px);
}
.contact-form .form-group input,
.contact-form .form-group textarea {
    padding: 15px;
}

.contact-content .man {
    margin-top: 20px;
}
.contact-content .man img{
    width: 120%;
    position: relative;
    top: -70px;
}
.contact-content .section-header .title {
    font-weight: 600;
}
.contact-content .section-header p {
    margin-bottom: 35px;
}
.contact-content .section-header a {
    color: #504c89;
    padding-left: 25px;
    position: relative;
}
.contact-content .section-header a i {
    margin-left: 5px;
}
.contact-content .section-header a::before {
    border-radius: 50%;
    background: -moz-linear-gradient(0deg, #e2906e 0, #e83a99 100%);
    background: -webkit-linear-gradient(0deg, #e2906e 0, #e83a99 100%);
    background: -ms-linear-gradient(0deg, #e2906e 0, #e83a99 100%);
    opacity: 0.502;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.contact-content .section-header a:hover::before {
    left: calc(100% - 30px);
}
.contact-area {
    padding-top: 85%;
}
.contact-item {
    align-items: center;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}
.contact-item .contact-thumb {
    width: 78px;
}
.contact-item .contact-thumb img {
    max-width: 100%;
}
.contact-item .contact-contact {
    width: calc(100% - 78px);
    padding-left: 10px;
}
.contact-item .contact-contact .subtitle {
    margin: 0;
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #3b368c;
}
.contact-item .contact-contact a {
    color: #504c89;
    font-size: 18px;
}
.contact-item .contact-contact p {
    margin: 0;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.section-header {
    text-align: center;
    margin: 0 auto 40px;
    max-width: 620px;
    position: relative;
    z-index: 1;
}
.mw-100 {
    max-width: 100%;
}
.cl-white {
    color: #fff;
}
.mw-100 {
    max-width: 100% !important;
}
.section-header .title {
    margin-bottom: 18px;
    font-weight: 700;
    color: #fff;
    font-size: 54px;
    line-height: 64px;
    margin-top: -20px;
}
.section-header p{
    font-size: 18px;
}
.cl-white p {
    color: rgba(255, 255, 255, 0.9);
}
p:last-child {
    margin-bottom: -7px !important;
}

.mb-30 {
    margin-bottom: 30px;
}
.contact-form .form-group input,
.contact-form .form-group textarea {
    padding: 15px;
}
.contact-form .form-group input {
    border: 1px solid rgba(59, 54, 140, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #f6f6fa;
    padding: 0 30px;
    height: 60px;
    outline: 0;
}
.contact-form .form-group .form-check label {
    margin: 0;
    padding-left: 10px;
    width: calc(100% - 22px);
    font-size: 16px;
    font-weight: 400;
    color: #6f6c9f;
}
button, input, select {
    height: 50px;
    color: #504c89;
}

button, input, select, textarea {
    width: 100%;
    background-color: #fff;
    border: 1px solid #bccaea;
    outline: 0;
}
.email-list{
    text-align: center;
    margin-top: 30px;
}
.email-list img{
    width: 75px;
    height: 75px;
}
.email-list h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #2A262C;
}
.email-list p{
    font-weight: normal;
    font-size: 18px;
    color: rgba(23, 27, 47, 0.6);
    margin-bottom: 0px;
}
.address{
    margin-top: 30px;
    display: flex;
}
.address .add-content{
    margin-left: 30px;
}
.address h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #2A262C;
}
.address p{
    font-weight: normal;
    font-size: 18px;
    color: rgba(23, 27, 47, 0.6);
    margin-bottom: 0px;
}

@media (min-width: 768px) {
    .section-header {
        margin-bottom: 60px;
    }
    .contact-wrapper {
        margin-bottom: 100px;
    }
    .d-md-block {
        display: block !important;
    }
    .section-header .title {
        margin-bottom: 24px;
    }
}
@media (min-width: 992px) {
    .justify-content-lg-between {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }
    .d-lg-block {
        display: block !important;
    }
    .contact-wrapper {
        margin-bottom: 0;
    }
}
@media (max-width: 575px) {
    .contact-form .form-group input::placeholder,
    .contact-form .form-group textarea::placeholder {
        font-size: 14px;
    }
    .contact-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .page-header.single-header {
        height: 425px;
    }
    .section-header .title{
        font-size: 42px;
    }
    .contact-area {
        padding-top: 0;
    }
}
@media (min-width: 576px) {
    .contact-form .form-group button {
        margin-top: 40px;
    }
}
@media (max-width: 991px) {
    .contact-section {
        margin-top: -470px;
    }
}
@media (max-width: 767px) {
    .contact-section {
        margin-top: -350px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) { 
    .contact-area {
        padding-top: 0;
    }
}