.bg{
    background-image: url("../img/home/bg.svg");
    background-repeat: no-repeat;
    height: 750px;
    background-size: cover;
}
.hero-img{
    position: absolute;
    top: -50px;
    width: 100%;
}
.header{
    background: #5d008f;
}
.logo-white{
    display: inherit;
}
.logo-color{
    display: none;
}
.nav-menu > li > a{
    color: #fff;
}
.nav-menu > .active > a, .nav-menu > .focus > a, .nav-menu > li:hover > a {
    color: #fff;
}
.nav-submenu::before {
    border: 2px solid #fff;
    background: #fff;
    box-shadow: 0px 2px 5px rgb(93 0 143 / 49%);
}
.cus-nav-li span{
    background: #fff;
    color: #5d008f;
}
.nav-toggle:before{
    background-color: #fff;
    box-shadow: 0 0.5em 0 0 #fff, 0 1em 0 0 #fff;
}
.f1 {
    margin-top: 40px;
    padding: 30px 0px;
}
.f1:hover{
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px 5px #F5E1FF;
    border-radius: 20px;
}
.f1-img img {
    width: 70px;
}
.f1-content h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #2a262c;
}
.f1-content p {
    font-size: 18px;
    line-height: 24px;
    color: #a6a6a6;
    color: rgba(23, 27, 47, 0.6);
    padding: 0px 45px;
}

.f2-c-pad {
    padding: 10px 0px 30px 10px;
}
.f2-border-radious {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.f2-title-line {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #5d008f;
    border-radius: 10px;
    margin-left: auto;
}
.f2-title {
    text-align: end;
    margin-right: 50px;
}
.f2-main {
    background: #5d008f;
}
.f2 {
    display: inline-flex;
    margin-top: 30px;
    padding: 20px;
}
.f2:hover{
    background: #7D08BC;
    border-radius: 15px;
}
.f2-content {
    margin-left: 20px;
}
.f2-content h4 {
    font-weight: bold;
}
.f2-content p{
    margin-bottom: 0px;
}
.f2-img img {
    width: 50px;
}
.f2-ex-margin {
    margin-left: 30px;
}

.f-box {
    background: #8508c9;
    border-radius: 20px;
    padding: 25px;
    margin: 40px 0px;
    border: 3px solid transparent;
}
.f-box:hover{
    border: 3px solid #ffffff;
}
.f-box img {
    width: 60px;
    padding-left: 10px;
}
.f-box h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    border-left: 4px solid #ac1bfb;
    padding-left: 10px;
}
.f-box p {
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 10px;
}
.f-box-cp {
    margin: 50px 0px;
}

.fl span {
    color: #fff;
    font-weight: 600;
    font-style: italic;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.8px;
}
.fl span::before {
    display: inline-block;
    content: "";
    border: 1px solid #fff;
    width: 50px;
    margin-right: 20px;
    transform: translateY(-3px);
}
.content span {
    color: #fff;
}
.content p {
    font-size: 14px;
    color: #fff;
}
.signup {
    display: block;
}
.c-h1{
    color: #fff;
}
.signup input {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 50px;
    width: 80%;
    height: 40px;
    font-size: 13px;
    color: #000;
    outline: 0;
    padding-left: 30px;
}
.signup img {
    background: #5d008f;
    padding: 10px;
    border-radius: 50%;
    margin-left: -41px;
    margin-bottom: 4px;
    height: 35px;
    width: 35px;
    color: white;
    border: 0;
    -webkit-appearance: none;
}

.pf-dashboard {
    position: relative;
}
.bg-rotate {
    background-color: transparent !important;
}
.pf-dashboard-gradient-bg::before {
    background: #5d008f;
}
.bg-rotate:before {
    content: "";
    z-index: -1;
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
}
.sec-banner {
    background-image: url("../img/home/Group 25.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 20px;
}
.sec-banner b {
    font-size: 40px;
    padding-left: 35px;
    color: #fff;
}

.testimonial {
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 32px;
    /*box-shadow: 20px 20px 0 0 #b2dfdb, 40px 40px 0 0 #80cbc4;*/
}
.testimonial .item {
    height: 500px;
}
.testimonial .card {
    background: #ffffff;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 30px;
    margin-top: 100px;
}
.testimonial .card:before,
.testimonial .card1:before {
    background-image: url("../img/home/frame.svg");
    width: 155px;
    height: 80px;
    background-size: contain;
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
}
.testimonial .card:before {
    left: -90px;
    top: 55px;
}
.testimonial .card1:before {
    bottom: 55px;
    right: -90px;
}
.testimonial .card h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #2a262c;
    text-align: left;
    margin-top: 0px;
}
.testimonial .card img {
    width: 100px !important;
    float: right;
}
.testimonial .card p {
    font-size: 18px;
    line-height: 21px;
    color: #8a8e93;
    margin-top: 15px;
    text-align: left;
}
.testimonial .card1 {
    background: #ffffff;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    margin-top: 30px;
    text-align: left;
    padding: 12px;
    margin-bottom: 100px;
}
.testimonial .card1 img {
    width: 50px !important;
    border-radius: 50%;
    display: inline !important;
}
.testimonial .card1 .person-detail {
    margin-left: 15px;
}
.testimonial .card1 h4 {
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #5d008f;
    margin-bottom: 5px;
}
.testimonial .card1 p {
    font-size: 12px;
    line-height: 14px;
    color: #2a262c;
}

.testimonial .card1 .person {
    display: inline-flex;
}
/*.owl-item:nth-child(1) {
    background: #faf1ff;
}
.owl-item:nth-child(2) {
    background: #fff9c4;
}
.owl-item:nth-child(3) {
    background: #fff59d;
}
.owl-item:nth-child(4) {
    background: #fffde7;
}
.owl-item:nth-child(5) {
    background: #fff9c4;
}
.owl-item:nth-child(6) {
    background: #fff59d;
}*/
.owl-nav {
    position: absolute;
    height: 0;
    top: 50%;
    left: 10px;
    right: 10px;
}
.owl-nav [class^="owl"] {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff !important;
    position: absolute;
    top: -12px;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
}
.owl-nav [class^="owl"]:after {
    content: "";
    display: block;
    border: 8px solid transparent;
    position: absolute;
    top: calc(50% - 8px);
    transition: opacity 0.2s ease 0.2s;
}
.owl-nav [class^="owl"].disabled {
    transform: scale(0);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.owl-nav [class^="owl"].disabled:after {
    opacity: 0;
}
.owl-nav > :first-child {
    left: 0;
}
.owl-nav > :first-child:after {
    left: calc(50% - 15px);
    border-right-color: #5d008f;
}
.owl-nav > :last-child {
    right: 0;
}
.owl-nav > :last-child:after {
    right: calc(50% - 15px);
    border-left-color: #5d008f;
}
.owl-dots {
    text-align: center;
    line-height: 0;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}
.owl-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
}
.owl-dot + .owl-dot {
    margin-left: 12px;
}
.owl-dot:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #5d008f;
    transform: scale(0.25);
    transition: transform 0.3s ease;
}
.owl-dot.active:after {
    transition-delay: 0.2s;
    transform: scale(1);
}

.dot-indicator {
    width: 24px;
    height: 2px;
    background: #5d008f;
    position: absolute;
    top: calc(50% - 1px);
    transform: scaleX(0);
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.dot-indicator.next {
    left: 50%;
    -webkit-animation-name: dot-indicator-next;
    animation-name: dot-indicator-next;
}
.dot-indicator.prev {
    right: 50%;
    -webkit-animation-name: dot-indicator-prev;
    animation-name: dot-indicator-prev;
}

@-webkit-keyframes dot-indicator-next {
    0%,
    100% {
        transform: scaleX(0);
    }
    0%,
    60% {
        transform-origin: left;
    }
    60% {
        transform: scaleX(1);
    }
    60.1%,
    100% {
        transform-origin: right;
    }
}

@keyframes dot-indicator-next {
    0%,
    100% {
        transform: scaleX(0);
    }
    0%,
    60% {
        transform-origin: left;
    }
    60% {
        transform: scaleX(1);
    }
    60.1%,
    100% {
        transform-origin: right;
    }
}
@-webkit-keyframes dot-indicator-prev {
    0%,
    100% {
        transform: scaleX(0);
    }
    0%,
    60% {
        transform-origin: right;
    }
    60% {
        transform: scaleX(1);
    }
    60.1%,
    100% {
        transform-origin: left;
    }
}
@keyframes dot-indicator-prev {
    0%,
    100% {
        transform: scaleX(0);
    }
    0%,
    60% {
        transform-origin: right;
    }
    60% {
        transform: scaleX(1);
    }
    60.1%,
    100% {
        transform-origin: left;
    }
}
.edge--top--reverse {
    position: relative;
    z-index: 1;
}
.edge--top--reverse:before {
    top: 0;
    transform: skewY(-1.9deg);
    transform-origin: 0 0;
}
.edge--top--reverse:before {
    background: inherit;
    content: "";
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
}
.client-img {
    text-align: -webkit-center;
}
.dialog {
    border: 2px solid #27043a;
    border-radius: 30px;
    background: #fff;
}
.dialog:before {
    background-image: url("../img/home/dialogue.svg");
    width: 210px;
    height: 190px;
    content: "";
    background-repeat: no-repeat;
    position: absolute;
}
.di-content h4 {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #2a262c;
}
.di-content h4:before {
    width: 17px;
    height: 17px;
    background: #5d008f;
    content: "";
    position: absolute;
    border-radius: 50%;
    left: -15px;
}
.is-img {
    top: -15px;
    position: relative;
}

/*  Media Queries  */
@media (max-width: 574px) {
    .nav-dropdown .nav {
        padding: 10px;
        height: 200px;        
    }
    .nav-menu > .active > a, .nav-menu > .focus > a, .nav-menu > li:hover > a{
        color: #2A262C!important;
    }
    .bg{
        height: unset;
        background-size: unset;
    }
    .nav-menu > li > a{
        color: #2A262C;
    }
    .cus-nav-li span {
        background: unset;
        color: #2A262C;
    }
    .cus-nav-li span:hover{
        background: unset;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .sec-cb-pad{
        padding-top: 50px;
    }
    .mpb25 {
        padding-bottom: 25px;
    }
    .mpb40 {
        padding-bottom: 40px;
    }
    .f1 , .f2{
        margin-top: unset;
    }
    .f2-title {
        text-align: center;
        margin-right: 0px;
    }
    .f2-border-radious {
        border-radius: unset;
    }
    .f2-ex-margin {
        margin-left: 0px;
    }
    .signup input {
        width: 98%;
    }
    .f2-title-line {
        margin-left: auto;
        margin-right: auto;
    }
    .testimonial .card:before,
    .testimonial .card1:before {
        background-image: unset;
    }
    .testimonial .card img {
        display: none;
    }
    .dialog:before {
        display: none;
    }
    .dialog {
        padding: 20px;
    }
    .di-content h4 {
        margin-left: 30px;
    }
    .di-content h4:before {
        left: 15px;
    }   
    .client-img img{
        padding: 0px 15px;
    } 
}

@media (max-width: 768px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
    .signup input {
        width: 55%;
    }
    .mpb25 {
        padding-bottom: 25px;
    }
    .mpb40 {
        padding-bottom: 40px;
    }
    .f2-title {
        text-align: center;
    }
    .f2-border-radious {
        border-radius: unset;
    }
    .f2-ex-margin {
        margin-left: 0px;
    }
    .hero {
        text-align: center;
    }
    .f1-content p {
        padding: 0px 20px;
    }
    .f2-title-line {
        margin-left: auto;
        margin-right: auto;
    }
    .is-img {
        text-align: -webkit-center;
        top: 0px;
        position: relative;
    }
    .testimonial .card:before,
    .testimonial .card1:before {
        background-image: unset;
    }
    .iml20 {
        margin-left: 20px;
    }
    .iwunset input {
        width: 85%;
    }
}

@media (min-width: 800px) and (max-width: 1200px) {
}

@media (min-width: 1024px) and (max-width: 1366px) {
}
