.bg{
    background-image: url("../img/instant-settlement/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 704px;
}
.bg-c{
    background: #F5F5F5;
}
.header{
    background: #5d008f;
}
.logo-white{
    display: inherit;
}
.logo-color{
    display: none;
}
.nav-menu > li > a{
    color: #fff;
}
.nav-menu > .active > a, .nav-menu > .focus > a, .nav-menu > li:hover > a {
    color: #fff;
}
.nav-submenu::before {
    border: 2px solid #fff;
    background: #fff;
    box-shadow: 0px 2px 5px rgb(93 0 143 / 49%);
}
.cus-nav-li span{
    background: #fff;
    color: #5d008f;
}
.nav-toggle:before{
    background-color: #fff;
    box-shadow: 0 0.5em 0 0 #fff, 0 1em 0 0 #fff;
}
.content h1{
    color: #fff;
}
.content span{
    color: #FBC42D;
}
.content-p{
    color: rgba(255, 255, 255, 0.6);
}
.why-us{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px #E7E3E3;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    align-items: center;
}
.why-us-pad{
    margin-top: 10%;
}
.w-content h3{
    margin-top: 0px;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #171B2F;
}
.w-content p{
    font-size: 18px;
    line-height: 22px;
    color: #171B2F;
    margin-bottom: 0px;
    padding-top: 10px;
}
.w-btn{
    float: right;
    margin-right: 30px;
}
.w-btn a{
    background: #FBC42D;
    border-radius: 10px;
    padding: 15px 5px 13px 0px;
}
.w-btn span{
    background: #5D008F;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #F5F5F5;
    padding: 12px 36px;
}
.ff-title h2 {
    font-weight: bold;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    color: #171B2F;
    padding-bottom: 15px;
}
.ff-title b {
    background: #e9f4f9;
}
.rb{
    margin-top: 30px;
    border-left: 10px solid #FBC42D;
    padding-left: 20px;
}
.rb p{
    font-size: 18px;
    line-height: 22px;
    color: #171B2F;
}
.rb h3{
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    color: #171B2F;
    margin-bottom: 0px;
}
.lrs-pad{
    padding-top: 50px;
}
.sec-ct-padding{
    padding-top: 100px;
    padding-bottom: 50px;
}
.bg1{
    background: #5D008F;
}
.bg-black{
    background-image: url("../img/instant-settlement/bg-black.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -80px;
}
.s3c{
    display: flex;
}
.s3c h2{
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    color: #FFFFFF;
}
.s3c img{
    margin-top: -85px;
    margin-right: 15px;
}
.s3-content{
    padding: 20px;
}
.s3-content h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.s3-content p{
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.6);
}
.tc h2{
    font-weight: 900;
    font-size: 46px;
    line-height: 55px;
    color: #fff;
    margin-top: 0px;
}
.tc span{
    color: #FBC42D;
}
.tc-input input{
    width: 100%;
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 16px;
    line-height: 21px;
    color: rgba(23, 27, 47, 0.6);
    border: 0;
    padding: 10px;
    outline: 0;
}
.tc-btn{
    margin-top: 10px;
}
.tc-btn a{
    background: #FBC42D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    border: 0;
    padding: 10px 20px;
    outline: 0;
}

/*  Testimonial Css  */
.qute h2{
    font-weight: bold;
    padding-top: 10px;
    font-size: 34px;
    line-height: 39px;
    color: #171B2F;
}
.item img{
    border-radius: 50%;
    width: 100px;
}
.item .content{
    background: #F5F5F5;
    border-radius: 20px;
    padding: 40px;
}
.item .content h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #171B2F;
}
.item .content h4{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #8158E8;
    margin-bottom: 0px;
    padding-top: 15px;
}
.item .content span{
    font-size: 14px;
    line-height: 16px;
    color: rgba(23, 27, 47, 0.6);
}
.controls .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 50%;
    padding: 10px 13px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.controls .bi{
    color: #8158E8;
    font-weight: 900;
}
.fw900{
    font-weight: 900!important;
}
.controls{
    margin-top: 40px;
}
.controls .left{
    margin-right: 20px;
}

/* Faq Css  */
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
    font-style: normal;
    content: "\2212";
    color: #fff;
    background: #5D008F;
    float: right;
    padding: 0px 12px;
    border-radius: 50%;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\002b";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}
.panel{
    border: unset;
}
.panel-default > .panel-heading{
    padding: 25px 0px 25px 0px;
    color: #333;
    background-color: unset;
    border-color: unset;
}
.panel-group .panel-heading , .panel-heading{
    border-bottom: unset;
    border: 0;
}
.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: unset;
}
.faq-title{
    color: #5D008F;
    font-weight: 800;
    padding-bottom: 50px;
    font-size: 48px;
}
.panel-default > .panel-heading .panel-title a{
    font-weight: bold;
    font-size: 22px!important;
    line-height: 34px;
    color: #2A262C;
    margin-right: 5px;
}
.accordion-section .panel-default .panel-body p{
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: rgba(23, 27, 47, 0.6);
}
.accordion-section .panel-default .panel-body{
    padding: 5px 30px 20px 0px;
}

/*  Media Query  */

@media (max-width: 574px){
    .nav-menu > li > a {
        color: #2A262C;
    }
    .cus-nav-li span {
        background: unset;
        color: #2A262C;
    }
    .nav-dropdown .nav {
        padding: 10px;
        height: 200px;        
    }
    .nav-menu > .active > a, .nav-menu > .focus > a, .nav-menu > li:hover > a{
        color: #2A262C!important;
    }
    .cus-nav-li span:hover  {
        background: unset;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .plan {
        margin-bottom: 200px;
    }
    .ex-lr-margin {
        margin-left: 15px;
        margin-right: 15px;
    }
    .why-us{
        display: block;
    }
    .w-btn{
        text-align: center;
        float: unset;
        margin-right: unset;
        margin-top: 40px;
    }
    .bg-black{
        background: #1c1d1f;
    }
    .s3c h2,.tc h2{
        text-align: center;
    }
    .tc-btn {
        margin-top: 30px;
        text-align: center;
    }
    .mpt30p{
        padding-top: 30%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {   
    .hero{
        text-align: center;
    }
    .content-p{
        padding: 0px 50px;
    }
    .why-us{
        display: block;
        text-align: center;
    }
    .w-btn{
        text-align: center;
        float: unset;
        margin-right: unset;
        margin-top: 40px;
    }
    .bg-black{
        background: #1c1d1f;
    }
    .s3c h2,.tc h2{
        text-align: center;
    }
    .s3c {
        display: block;
    }
    .s3-content {
         padding: 0px;
         margin-top: 30px; 
    }
    .tc-btn {
        margin-top: 30px;
        text-align: center;
    }
    .tc-input{
        text-align: center;
    }
    .tc-input input{
        width: 75%;
    }
}

@media (min-width: 1024px) and (max-width: 1366px) { 
    .why-us{
        display: flex;
    }       
    .tc-btn {
        margin-top: 0px;
    }
}