.ab-first-bg{
	background: #5D008F;
}
.ab-first-text{
	padding-top: 5%;
}
.ab-first-text h1{
	font-weight: 900;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
	color: #FFFFFF;
}
.ab-first-img{
	text-align: -webkit-center;
	padding-bottom: 100px;
}
.ig-title h2{
	font-weight: 900;
	font-size: 34px;
	line-height: 41px;
	text-align: center;
	color: #000000;
	margin-top: 0px;
}
.ig-title .sp1{
	background: #D0FFFC;
}
.ig-title .sp2{
	background: #E1E2FF;
}
.ig{
	background: #F8F8FA;
	border: 2px solid #F5F5F5;
	border-radius: 10px;
	padding: 15px;
	margin-top: 60px;
	height: 190px;
}
.ig-content{
	display: inline-flex;
}
.ig-content .ig-img{	
	background: #FFFFFF;
	box-shadow: 0px 10px 20px #F0F1FF;
	border-radius: 10px;
	width: 100px;
	height: 100px;
	top: -40px;
	left: 15px;
	position: relative;
	padding: 0px 10px;
	text-align: center;
}
.ig-content .ig-img img{
	height: 50px;
    margin-top: 25px;
    max-width: 100%;
}
.ig-content h3{
	font-weight: bold;
	font-size: 20px;
	line-height: 22px;
	color: #000000;
	margin-left: 34px;
	margin-top: 0px;
}
.ig-link a{
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	background: #FFFFFF;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 5%);
    border-radius: 5px;
}
.ig-link a:hover{
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
	border-radius: 5px;
}
.ig-link{
	display: flex;
}
.ig-link .ig-link-btn {
    float: left;
    width: 50%;
    cursor: pointer;
    font-size: 14px;
    padding: 15px 0px;
}
.lg-mar{
	margin-right: 7px;
}
.lg-mar1{
	margin-left: 7px;
}
.ig-bg{
	background: #FBFBFB;
}

@media (max-width: 574px) {	

}
@media (min-width: 768px) and (max-width: 1024px) {
	.hero {
	    text-align: center;
	}
}