.fl span {
    color: #5d008f;
    font-weight: 600;
    font-style: italic;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.8px;
}
.fl span::before {
    display: inline-block;
    content: "";
    border: 1px solid #5d008f;
    width: 50px;
    margin-right: 20px;
    transform: translateY(-3px);
}
.content span {
    color: #5d008f;
}
.ig {
    display: flex;
    padding-top: 25px;
}
.ig p {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-left: 25px;
    margin-bottom: 0px;
    margin-top: 5px;
}
.cbtn1 {
    background: #7A009E;
    margin-right: 10px;
}
.cbtn {
    padding: 12px 24px;
    color: #fff;
}
.cbtn2 {
    background: #0019DC;
    margin-left: 10px;
}
.cbtn1:hover{
    background: #0019DC;
    color: #fff;
}
.cbtn2:hover{
    background: #7A009E;
    color: #fff;
}
.why-us{
    text-align: center;
    padding: 40px;
    margin-top: 30px;
    background: #F6F5FF;
    border: 3px solid transparent;
}
.why-us:hover{
    border: 3px solid #302C8D;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.why-us img{
    width: 90px;
    height: 90px;
}
.why-us h4{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #2A262C;
    padding-top: 10px;
}
.why-us p{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: rgba(23, 27, 47, 0.6);
    margin-bottom: 0px;
}
.check-mar{
    margin-top: 8%;
}
.check-img{
    position: absolute;
    top: -200px;
}
.lrs-pad {
    padding-top: 30px;
}
.points {
    padding-top: 5px;
}
.points h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #2A262C;
    padding-left: 40px;
    padding-top: 12px;
}
.points h4::before {
    background-image: url(../img/landing/tick.svg);
    width: 50px;
    height: 50px;
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    left: 15px;
}
.custom-bg {
    position: relative;
}
.custom-bg-gradient::before{
    background: #1C002C;
}
.bg-rotate:before {
    content: "";
    z-index: -1;
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
}
.bg-rotate {
    background-color: transparent !important;
}
.points1 h4 {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    padding-left: 80px;
    padding-top: 12px;
    line-height: 50px;
}
.points1 h4::before {
    background-image: url(../img/payment-link/free.svg);
    width: 60px;
    height: 50px;
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    left: 15px;
}
.plan {
    margin-top: 100px;
    margin-bottom: 100px;
}
.main-plan {
    background: #350252;
    color: #FFFFFF;
    padding: 20px;
    margin-top: 0px;
}
.plan span {
    font-weight: bold;
    font-size: 55px;
}
.sub-plan {
    background: #350252;
    color: #FFFFFF;
    padding: 20px;
    margin-top: 30px;
}
.sub-plan h3 {
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
    color: #FF9812;
}
.sub-plan h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}
.cbtn3 {
    padding: 12px 24px;
    color: #1C002C;
}

.cbtn3 {
    background: #fff;
    margin-right: 10px;
    position: absolute;
    top: 85px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}*/
.accordion-section .panel-default .panel-title a {
    display: block;
    font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
   /* font-family: "Glyphicons Halflings";*/
    font-style: normal;
    content: "\2212";
    color: #fff;
    background: #5D008F;
    float: right;
    padding: 0px 12px;
    border-radius: 50%;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\002b";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}

.panel{
    border: unset;
}
.panel-default > .panel-heading{
    padding: 25px 0px 25px 0px;
    color: #333;
    background-color: unset;
    border-color: unset;
}
.panel-group .panel-heading , .panel-heading{
    border-bottom: unset;
    border: 0;
}
.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: unset;
}
.faq-title{
    color: #5D008F;
    font-weight: 800;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 48px;
}
.panel-default > .panel-heading .panel-title a{
    font-weight: bold;
    font-size: 22px!important;
    line-height: 34px;
    color: #2A262C;
}
.accordion-section .panel-default .panel-body p{
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: rgba(23, 27, 47, 0.6);
}
.accordion-section .panel-default .panel-body{
    padding: 5px 30px 20px 0px;
}

@media (max-width: 574px){
    .plan {
        margin-bottom: 200px;
    }
    .ex-lr-margin {
        margin-left: 15px;
        margin-right: 15px;
    }
}