.content span {
    color: #5d008f;
}
.head-border{
	border: 3px solid rgba(138, 142, 147, 0.17);
	box-sizing: border-box;
	border-radius: 30px;
}
.head-point{
	display: flex;
}
.head-point p{
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #171B2F;
	margin-left: 10px;
	margin-bottom: 0px;
}
.head-point-pad{
	padding: 40px 50px;
}
.head-point-vl{
	border: 2px solid rgba(138, 142, 147, 0.17);
	height: 50px;
	position: absolute;
	left: 28%;
}
.head-point-v2{
	border: 2px solid rgba(138, 142, 147, 0.17);
	height: 50px;
	position: absolute;
	left: 63%;
}
.features{
	display: flex;
	margin-top: 30px;
	background: #FFFFFF;
	border: 3px solid transparent;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	padding: 30px 40px;
}
.features:hover{
	border: 3px solid #191BA2;
}
.features img{
	width: 40px;
	height: 45px;
}
.features p{
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	margin-left: 25px;
	margin-bottom: 0px;
}
.points{
	padding-top: 5px;
}
.points h4{
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	color: #2A262C;
	padding-left: 40px;
	padding-top: 12px;
}
.points h4::before{
	background-image: url(../img/payment-gateway/tick.svg);
    width: 50px;
    height: 50px;
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    left: 15px;
}
.lrs-img{
	text-align: center;
}
.point-pad{
	margin-top: 50px;
}
.lrs-pad{
	padding-top: 30px;
}
.pf-dashboard {
    position: relative;
}
.bg-rotate {
    background-color: transparent !important;
}
.pf-dashboard-gradient-bg::before {
    background: #171B2F;
}
.bg-rotate:before {
    content: "";
    z-index: -1;
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
}
.color-blue{
	color: #191BA2!important;
}
.bg-blue{
	background: #191BA2!important;
}
.ig-main{
	padding-left: 30px;
}
.ig{
	display: flex;
	padding-top: 25px;
}
.ig p{
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
	margin-left: 25px;
	margin-bottom: 0px;
	margin-top: 5px;
}
.gt-btn{
	padding: 75px 0px;
}
.integration-img{
	padding-top: 9rem;
}
.box-border{
	border: 5px solid #0018B0;
	box-sizing: border-box;
	box-shadow: 0px 10px 20px #D8BFE6;
}
.box1{
	background: #E9E9E9;
	padding: 50px 35px;
}
.box2{
	background: #F9F9F9;	
	padding: 20px;
}
.fc h4{
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	color: #2A262C;
	padding-left: 40px;
	padding-top: 12px;
}
.fc h4::before{
	background-image: url(../img/payment-gateway/tick-box.svg);
    width: 50px;
    height: 50px;
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    left: 40px;
}
.box-right{
	padding-right: 0px;
}
.box-left{
	padding-left: 0px;
}
.ibox-shadow{
	box-shadow: 0px 5px 15px #CACACA;
}
.signup{
	padding-top: 15px;
    padding-bottom: 30px;
}
.signup input{
	width: 60%;
} 

/*  Faq Css  */
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
   /* font-family: "Glyphicons Halflings";*/
    font-style: normal;
    content: "\2212";
    color: #fff;
    background: #5D008F;
    float: right;
    padding: 0px 12px;
    border-radius: 50%;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\002b";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}
.panel{
    border: unset;
}
.panel-default > .panel-heading{
    padding: 25px 0px 25px 0px;
    color: #333;
    background-color: unset;
    border-color: unset;
}
.panel-group .panel-heading , .panel-heading{
    border-bottom: unset;
    border: 0;
}
.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: unset;
}
.faq-title{
    color: #5D008F;
    font-weight: 800;
    padding-bottom: 50px;
    font-size: 48px;
}
.panel-default > .panel-heading .panel-title a{
    font-weight: bold;
    font-size: 22px!important;
    line-height: 34px;
    color: #2A262C;
}
.accordion-section .panel-default .panel-body p{
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: rgba(23, 27, 47, 0.6);
}
.accordion-section .panel-default .panel-body{
    padding: 5px 30px 20px 0px;
}

@media (max-width: 574px) {
	.head-point-pad {
	    padding: 10px;
	}
	.head-point {
	    margin: 30px 0px;
	}
	.integration-img{
		padding-top: 0px;
		padding-bottom: 30px;
	}
	.box-right{
		padding-right: 15px;
	}
	.box-left{
		padding-left: 15px;
	}
	.signup input {
	    width: 95%;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.hero {
	    text-align: center;
	}
	.head-point-pad {
	    padding: 10px;
	}
	.head-point {
	    margin: 30px 0px;
	}
}