.content span {
    color: #5d008f;
}
.head-point span i{
  background: #7a009e;
  color: #fff;
  border-radius: 50%;
  margin-right: 5px;
}
.head-point span{
  padding-top: 10px;
}
.head-point .dis{
  display: grid;
}
.sub-point{
	border: 2px solid rgba(0, 0, 0, 0.05);
	box-sizing: border-box;
	border-radius: 30px;
	padding: 30px;
}
.sub-point img{
	position: absolute;
    top: -27px;
    left: 61px;
}
.sub-point span{
	float: right;
    bottom: 30px;
    top: -15px;
    margin-top: -17px;
    font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	color: #A6A6A6;
}
.sub-point h3{
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	color: #2A262C;
}
.sub-point p{
	font-size: 14px;
	line-height: 16px;
	color: rgba(23, 27, 47, 0.6);
	margin-bottom: 0px;
}
.bg1{
	background: #FAF1FF;
}
.bg2{
	background: #5D008F;
}
.why-use{
	background: #FFFFFF;
  border: 3px solid transparent;
	border-radius: 10px;
	padding: 30px;
	margin-top: 30px;
}
.why-use:hover{
	border: 3px solid #A2C6F5;
}
.why-use h3{
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: #2A262C;
}
.why-use img{
  width: 60px;
  height: 60px;
}
.why-use p{
	font-size: 18px;
	line-height: 21px;
	color: #A6A6A6;
}
.pf{
  display: inline-flex;
  margin-top: 30px;
  align-items: flex-start;
}
.pf h3{
  font-size: 18px;
  line-height: 21px;
  color: rgba(23, 27, 47, 0.6);
  margin-top: 0px;
  margin-left: 20px;
}
.pad-sec-tb{
	padding: 50px 0px; 
}
.bg-white{
	background: #fff!important;
}
.vid h2{
	font-weight: bold;
	font-size: 55px;
	line-height: 63px;
	color: #FFFFFF;
}
.pp{
	margin-top: 30px;
	display: flex;
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	padding: 15px 30px;
	margin: 10px;
}
.pp img{
	width: 40px;
	height: 40px;
}
.pp h4{
	margin-left: 20px;
}
.bg-rotate {
    background-color: transparent !important;
}
.custom-bg {
    position: relative;
}
.bg-rotate:before {
    content: "";
    z-index: -1;
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
}
.custom-bg-gradient::before {
    background: #1C002C;
}
.points h4 {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    padding-left: 80px;
    padding-top: 12px;
    line-height: 50px;
}
.points h4::before {
    background-image: url(../img/payment-link/free.svg);
    width: 60px;
    height: 50px;
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    left: 15px;
}
.plan{
	margin-top: 100px;
	margin-bottom: 100px;
}
.plan span{
	font-weight: bold;
	font-size: 55px;
}
.main-plan{
	background: #350252;
	color: #FFFFFF;	
	padding: 20px;
	margin-top: 0px;
}
.sub-plan{
	background: #350252;
	color: #FFFFFF;	
	padding: 20px;
	margin-top: 30px;
}
.sub-plan h3{
	font-weight: bold;
	font-size: 35px;
	line-height: 40px;
	color: #FF9812;
}
.sub-plan h4{
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	color: #FFFFFF;
}
.cbtn3 {
    background: #fff;
    margin-right: 10px;
    position: absolute;
    top: 85px;
}
.cbtn3 {
    padding: 12px 24px;
    color: #1C002C;
}
.content span {
    color: #5d008f;
}
.cbtn-signup{
	background: #0019DC;
	padding: 15px 50px;
    color: #fff;
    font-size: 20px;
}
.cbtn-signup:hover{
	background: #5d008f;
	color: #fff;
}
.bot-sp{
	margin-top: 80px;
	text-align: center;
}
.bot-mar{
	margin: 50px 0px;
}
.banner-button-group{
    padding-top: 100px;	
}
.banner-button-group a {
    margin: 10px;
}
.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #0019dc;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #0019dc;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: darken(#fa183d, 10%);
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
	border-top: 22px solid transparent;
	border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}



.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.80);
  opacity: 0;
  transition: all ease 500ms;
}

.video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1;
}

.video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}

.video-overlay-close:hover {
  color: #fa183d;
}

.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* width: 90%; */
  /* height: auto; */
  box-shadow: 0 0 15px rgba(0,0,0,0.75);
}
.vb{
	padding-top: 70%;
}



/*  Media Queries  */
@media (max-width: 574px) {
  .sub-point{
    margin-top: 60px;
  }
  .ex-ipad-pad{
    padding-bottom: 50px;
  }  
  .plan{
    margin-bottom: 200px;
  }
  .m-center{
    text-align: center;
  }
  .ex-lr-margin{
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sub-point{
    margin-top: 60px;
  }
  .sub-point img{
    top: 30px;
  }
  .hero {
    text-align: center;
  }
  .vb {
    padding-top: 115%;
  }
  .ex-ipad-pad{
    padding-bottom: 50px;
  }
  .ex-lr-margin{
    margin-left: 15px;
    margin-right: 15px;
  }
  .plan{
    margin-bottom: 200px;
  }
}