.main-bg{
    background-image: url(../img/pricing/main-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.ph-bg{
	background: #5D008F;
    opacity: 0.8;
}
.com-span {
    color: #5D008F;
    font-size: 16px;
    background: #F5F5F5;
    border-radius: 50px;
    padding: 10px 20px;
}
.fw800{
	font-weight: 800;
}
.background-shape-right {
    position: relative;
}
.background-shape-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    background-position: right;
    background-image: url(https://appco.themetags.com/img/shape-bg-right.svg);
    background-repeat: no-repeat;
}
.justify-content-center{
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.card.single-pricing-pack{
    transition: all 0.2s ease 0s;
    box-shadow: 0 0 0 1px #ebebeb;
    border: none;
    border-top: 4px solid transparent;
    border-radius: 1rem !important;
}
.text-center {
    text-align: center!important;
}
.p-5 {
    padding: 3rem!important;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.pricing-img img{
    width: 65px;
    height: 65px;
    display: inline-block;
    position: relative;
    line-height: 65px;
    margin: 0 auto;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}
.single-pricing-pack .card-body {
    color: rgb(132, 146, 166);
    flex: 1 1 auto;
    padding: 1.5rem;
}
.p-0 {
    padding: 0!important;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.pricing-feature-list li {
    font-size: 14px;
    line-height: 28px;
}
.pricing-header {
    position: relative;
    background: transparent;
}
.pb-4, .py-4 {
    padding-bottom: 1.5rem!important;
}
.pt-4, .py-4 {
    padding-top: 1.5rem!important;
}
.border-0 {
    border: 0!important;
}
.outline-btn {
    border-radius: 30px;
    color: #6730e3;
    display: inline-block;
    border: 2px solid #6730e3;
}
.outline-btn:hover {
    color: #fff;
    background: #6730e3;
    -webkit-box-shadow: 0 20px 30px 0 rgb(67 37 204 / 20%);
    box-shadow: 0 20px 30px 0 rgb(67 37 204 / 20%);
}
.outline-btn, .solid-btn, .primary-solid-btn {
    padding: 10px 25px;
}
.popular-price {
    box-shadow: 0 .2em .5rem rgba(31,45,61,.125)!important;
    border-top: 4px solid #9629e6 !important;
}
.card.single-pricing-pack:hover {
    z-index: 2;
    border-radius: 1.5rem !important;
}
.single-pricing-pack:hover {
    box-shadow: 0 .2em .5rem rgba(31,45,61,.125)!important;
    border-top: 4px solid #9629e6;
}
.solid-btn {
    color: #fff;
    -webkit-box-shadow: 0 5px 12px 0 rgb(67 37 204 / 20%);
    box-shadow: 0 5px 12px 0 rgb(67 37 204 / 20%);
    background: #6730e3;
    border: 2px solid #6730e3;
    border-radius: 30px;
}
.solid-btn:hover {
    background: transparent;
    color: #202877;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.card h3{
    font-size: 20px;
    color: #2A262C;
    padding-bottom: 10px;
    margin-top: 0px;
}
.card h4{
    font-weight: 800;
    font-size: 24px;
    color: #9629e6;
    padding-bottom: 10px;
    margin-top: 0px;
}
.card h4 span{
    font-weight: normal;
    font-size: 16px;
}
.pnp{
    padding-left: 0px;
    padding-right: 0px;
}
.ptp h3{ 
    text-align: center;
    font-size: 50px;
    line-height: 70px;
    font-weight: 800;
    color: #2A262C;
}
.card-body ul li{
    border-top: 1px solid #00000020;
    padding: 10px 0px;
    font-size: 16px;
    color: #2A262C;
}
.card-body ul li:last-child{
    border-bottom: 1px solid #00000020;
}
.ppl{
    padding-left: 0px;
}
.ppr{
    padding-right: 0px;
}
.cbmar{
    margin-top: 73px;
}
.prpad{
    padding: 25px;
}
.btn-mar{
    margin: 30px 0px;
}
.sw{
    font-weight: 600;
}
.ulpad{
    padding: 38px!important;
}
.ulbg{
    background: #f7f7f7;
}
.ulpad1{
    padding: 24px!important;
}
.ulpad2{
    padding: 24px!important;
}
.pr-bg{
    background: linear-gradient(90deg, #5D008F 0%, #9200FF 94.21%);
}
.c-plan h3{
    font-weight: bold;
    font-size: 34px;
    line-height: 39px;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 40px;
}
.c-plan a{  
    background: #9000F7;
    border-radius: 10px;
    padding: 15px 40px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.c-plan a:hover{  
    background: linear-gradient(90deg, #5D008F 0%, #9200FF 94.21%);
}
.points h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #2A262C;
    padding-left: 40px;
    padding-top: 12px;
}
.points h4::before {
    background-image: url(../img/pricing/tick.svg);
    width: 50px;
    height: 50px;
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    left: 15px;
}
.float-right{
    float: right;
}
.mpkm{
    position: relative;
    top: 10px;
    color: #1415d1;
    font-weight: 600;
}
.modal-dialog{
    margin: 5px;
}
.modal-body{
    padding: 15px 0px;
}
.table-bordered > tbody > tr > td{
    font-size: 14px;
    color: #2A262C;
}
.mpcmt{
    margin-top: 30px;
}
/*  Media Queries  */
@media (max-width: 574px) {
    .p-box-main{
        margin-top: 15px;
    }
    .p-box-pad{
        margin-top: 30px;
        padding: 0px 10px;
        text-align: center;
    }
    .p-box-price h2{
        min-height: unset;
    }
    .p-box-content h3{
        padding-left: unset;
        text-align: center;
    }
    .p-box-price h2{
        margin-top: 0px;
    }
    .mc-ex h4{
        padding-top: 20px;
    }
    .mc-ex h4 , p{
        text-align: center;
    }
    .mmt30{
        margin-top: 30px!important;
    }
    .dpt20{
        padding-top: 0px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .p-box-pad{
        margin-top: 30px;
    }
}

@media (min-width: 1200px){
    .custom-container{
        width: 1400px;
    }
}