.main-bg{
    background-image: url(../img/pricing/main-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.ph-bg{
	background: #5D008F;
    opacity: 0.8;
}
.com-span {
    color: #5D008F;
    font-size: 16px;
    background: #F5F5F5;
    border-radius: 50px;
    padding: 10px 20px;
}
.fw800{
	font-weight: 800;
}
.pr-box .nav{
	display: grid;
	background: #F6F5FF;
	border-radius: 20px;
	padding: 20px;
    border: 1px solid #DDEAFB;
}
.pr-box .nav > li > a{
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: rgba(23, 27, 47, 0.6);
	margin-top: 10px;
}
.pr-box .nav > li > a:focus, .pr-box .nav > li > a:hover{
	text-decoration: none;
    background-color: unset;
}
.pr-box .nav-pills > li.active > a, .pr-box .nav-pills > li.active > a:focus, .pr-box .nav-pills > li.active > a:hover {
    color: #fff;
    background: #5D008F;
	border-radius: 10px;
}
.p-box-main{
	background: #FCFCFF;
	border-radius: 20px;
    border: 1px solid #DDEAFB;
}
.p-box-pad{
	padding: 0px 50px;
}
.p-box-img{
    display: inline-flex;
    align-items: center;
    padding-top: 20px;
    /*min-height: 230px;*/
}
.p-box-img ul {
    list-style-type: none;
    padding: 0;
}
.p-box-img ul li {
    margin: 0;
    display: inline-flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 10px;
}
.p-box-img ul li img {
    width: 50px;
    height: 40px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 0;
}
.p-box-img ul li p {
    font-size: 12px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: .2px;
    color: #5f7082;
    padding-top: 10px;
}
.p-box-price {
    text-align: center;
}
.p-box-price h2 {
    display: inline-flex;
    align-items: center;
    min-height: 200px;
    font-weight: 800;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: #5D008F;
}
.p-box-price span{
    display: contents;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: rgba(23, 27, 47, 0.6);
}
.p-box-content h3{
    padding-left: 29px;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #171B2F;
}
.p-box-prize h4{
    background: #EFEFFF;
    border-radius: 10px;
    padding: 10px 30px;
    float: right;
    font-size: 15px;
}
.p-box-prize span{
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #5D008F;
    margin-right: 7px;
}
.p-box-prize p{
    font-size: 14px;
    line-height: 17px;
    color: #2A262C;
}
.p-box-border{
    border: 1px solid #DDEAFB;
    margin: 15px 0px;
}
.pbimg1{
    padding-left: 0px!important;
}
.mc-ex-main{
    padding-top: 40px;
}
.mc-ex{
    background: #5D008F;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
}
.mc-ex h3{
    margin-top: 0px;
    font-weight: 800;
    font-size: 45px;
    line-height: 54px;
    color: #FFFFFF;
    margin-bottom: 0px;
}
.mc-ex h4{
    margin-top: 0px;
    font-size: 24px;
    line-height: 29px;
    color: #FFFEF8;
}
.mc-ex p{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFEF8;
    opacity: 0.8;
}
.dpt20{
    padding-top: 20px;
}

.pr-bg{
    background: linear-gradient(90deg, #5D008F 0%, #9200FF 94.21%);
}
.c-plan h3{
    font-weight: bold;
    font-size: 34px;
    line-height: 39px;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 40px;
}
.c-plan a{  
    background: #9000F7;
    border-radius: 10px;
    padding: 15px 40px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.c-plan a:hover{  
    background: linear-gradient(90deg, #5D008F 0%, #9200FF 94.21%);
}
.points h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #2A262C;
    padding-left: 40px;
    padding-top: 12px;
}
.points h4::before {
    background-image: url(../img/pricing/tick.svg);
    width: 50px;
    height: 50px;
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    left: 15px;
}

/*  Media Queries  */
@media (max-width: 574px) {
    .p-box-main{
        margin-top: 15px;
    }
    .p-box-pad{
        margin-top: 30px;
        padding: 0px 10px;
        text-align: center;
    }
    .p-box-price h2{
        min-height: unset;
    }
    .p-box-content h3{
        padding-left: unset;
        text-align: center;
    }
    .p-box-price h2{
        margin-top: 0px;
    }
    .mc-ex h4{
        padding-top: 20px;
    }
    .mc-ex h4 , p{
        text-align: center;
    }
    .mmt30{
        margin-top: 30px!important;
    }
    .dpt20{
        padding-top: 0px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .p-box-pad{
        margin-top: 30px;
    }
}

@media (max-width: 768px) {

}