.p-title h1{
	font-weight: 900;
	font-size: 48px;
	line-height: 58px;
	color: #2A262C;
	text-align: center;
}
.p-title h1::after{
    content: '';
    display: block;
    width: 75px;
    height: 4px;
    background: #5d008f;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}
.p-content{
	padding-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
}
.p-content h2{
	font-size: 24px;
	line-height: 32px;
	font-weight: bold;
	color: #2A262C;
}
.p-content p{
	font-size: 16px;
	line-height: 22px;
	color: #2A262C;
}
.p-content ul li{
	line-height: 28px;
	color: #2A262C;
}
.p-content ol li{
	line-height: 28px;
	color: #2A262C;
}
.p-content a{
	color: #09f;
}