.content span {
    color: #5d008f;
}
.ff-title h2{
    font-weight: bold;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    color: #171B2F;
    padding-bottom: 15px;
}
.ff-title b{
    background: #e9f4f9;
}
.ff{
    text-align: center;
    margin-top: 30px;
}
.ff h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #2A262C;
}
.ff p{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: rgba(23, 27, 47, 0.6);
    padding: 0px 10px;
}
.lrs-pad {
    padding-top: 30px;
}
.ff-p-bg{
    background: #F5F5F5;
}
.ff-title1 h2{
    font-weight: bold;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    color: #171B2F;
}
.ff-title1 b{
    background: #FBFFE9;
}
.fp-card{
    background: #FFFFFF;
    height: 220px;
    margin-top: 30px;
}
.b1{
    border-top: 5px solid #FBC42D;
}
.b2{
    border-top: 5px solid #23A3FF;
}
.fp-detail{
    padding: 30px 10px;
}
.fp-detail b{
    font-weight: bold;
    font-size: 45px;
    line-height: 52px;
    text-align: center;
    color: #5D008F;
}
.fp-detail span{
    color: #5D008F;
    margin-left: 15px;
    font-weight: 900;
}
.fp-detail h4{
    margin-top: 0px;
    font-size: 24px;
    line-height: 28px;
    color: #171B2F;
}
.fp-detail p{
    font-size: 14px;
    line-height: 20px;
    color: rgba(23, 27, 47, 0.6);
}
.fp-line{
    margin-top: 20px;
    margin-bottom: 10px;
    border: 0;
    border: 1px solid #e6e6e6b0;
}
.fp-price b{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #171B2F;
}
.fp-price p{
    font-size: 12px;
    line-height: 14px;
    color: rgba(23, 27, 47, 0.6);
}
.fp-btn{
    float: right;
    margin-right: 40px;
    margin-top: 10px;
}
.fp-btn a{
    background: #23A3FF;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    padding: 8px 16px;
}
.fp-content{
    padding-top: 50px;
}
.fp-content h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #171B2F;
}
.fp-content p{
    font-size: 12px;
    line-height: 14px;
    color: rgba(23, 27, 47, 0.6);
}
.fp-btn1{
    margin-top: 25px;
}
.fp-btn1 a{
    background: #5D008F;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    padding: 8px 16px;
}
.tick h4{
    padding-left: 60px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #171B2F;
}
.tick h4:before{
    background-image: url(../img/freelancer/tick.svg);
    width: 50px;
    height: 50px;
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    left: 40px;
}
.bg-black{
    background: #1C1D1F;
    border-radius: 20px;
    height: 350px;
}
.top-img img{
    position: absolute;
    top: -50px;
    left: 100px;
}
.ss{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.ss h2{
    font-weight: bold;
    font-size: 45px;
    line-height: 52px;
    color: #FFFFFF;
}
.ss p{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}
.ss-point h4{
    padding-left: 60px;
    padding-top: 10px;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}
.ss-point h4:before{    
    background-image: url(../img/freelancer/black-tick.svg);
    width: 50px;
    height: 50px;
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    left: 40px;
}

.qute h2{
    font-weight: bold;
    padding-top: 10px;
    font-size: 34px;
    line-height: 39px;
    color: #171B2F;
}
.item img{
    border-radius: 50%;
    width: 100px;
}
.item .content{
    background: #F5F5F5;
    border-radius: 20px;
    padding: 40px;
}
.item .content h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #171B2F;
}
.item .content h4{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #8158E8;
    margin-bottom: 0px;
    padding-top: 15px;
}
.item .content span{
    font-size: 14px;
    line-height: 16px;
    color: rgba(23, 27, 47, 0.6);
}
.controls .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 50%;
    padding: 10px 13px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.controls .bi{
    color: #8158E8;
    font-weight: 900;
}
.fw900{
    font-weight: 900!important;
}
.controls{
    margin-top: 40px;
}
.controls .left{
    margin-right: 20px;
}
.ff-box{
    border: 3px solid #DDEAFB;
    border-radius: 10px;
    padding: 30px 20px;
    font-weight: bold;
    margin-top: 30px;
}
.ff-box:hover{
    border: 3px solid #191BA2;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    color: #191BA2;
    font-weight: bold;
}
.ff-box-img{
    display: inline-flex;
}
.ff-box-img h3{ 
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #2A262C;
    margin-top: 0px;
    margin-left: 30px;
}


/*  Media Queries  */
@media (max-width: 574px) {
    .fp-card{
        height: 265px;
    }
    .fp-content {
        padding-top: 0px;
        text-align: center;
    }
    .bg-black{
        height: 450px;
    }
    .m-center{
        text-align: center;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .fp-card{
        height: 270px;
    }
    .hero {
        text-align: center;
    }
}